<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SmartDrawerWpfApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <!-- Service Model For SSL -->
  <!-- system.serviceModel>   
     <services>
       <service name="SmartDrawerWpfApp.Wcf.SslWallNotificationService" behaviorConfiguration="WcfSslServiceBehaviour" >
        <endpoint address="https://localhost:9002/SslWallNotificationService"
                  binding="webHttpBinding"
                  bindingConfiguration="wcfSslBinding"
                  behaviorConfiguration="WebHttpBehaviour"
                  contract="SmartDrawerWpfApp.Wcf.SslWallNotificationService">
        </endpoint>
      </service>
     </services>
   <bindings>
      <webHttpBinding>
        <binding name="wcfSslBinding" maxBufferSize="64000000" maxReceivedMessageSize="64000000" maxBufferPoolSize="64000000">
          <readerQuotas maxDepth="64000000" maxStringContentLength="64000000" maxArrayLength="64000000" maxBytesPerRead="64000000" />
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfSslServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                                    customUserNamePasswordValidatorType="SmartDrawerWpfApp.Wcf.WcfUserNamePasswordValidator,SmartDrawerWpfApp"/>
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="SmartDrawerWpfApp.Wcf.WcfAuthorizationPolicy, SmartDrawerWpfApp" />
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebHttpBehaviour">
          <webHttp automaticFormatSelectionEnabled="false"
        defaultBodyStyle="Wrapped" defaultOutgoingResponseFormat="Json"
        helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
   </system.serviceModel -->     
  
  <!-- http Service-->
  <system.serviceModel>
    <services>
      <service name="SmartDrawerWpfApp.Wcf.SslWallNotificationService" behaviorConfiguration="WcfSslServiceBehaviour" >
        <endpoint address="http://localhost:9004/SslWallNotificationService"
                  binding="webHttpBinding"
                  bindingConfiguration="wcfSslBinding"
                  behaviorConfiguration="WebHttpBehaviour"
                  contract="SmartDrawerWpfApp.Wcf.SslWallNotificationService">
        </endpoint>
        <endpoint address="http://localhost:9005/SslWallNotificationService"
                 binding="webHttpBinding"
                 bindingConfiguration="wcfSslBinding"
                 behaviorConfiguration="WebHttpBehaviour"
                 contract="SmartDrawerWpfApp.Wcf.SslWallNotificationService">
        </endpoint>
        <endpoint address="http://localhost:9006/SslWallNotificationService"
               binding="webHttpBinding"
               bindingConfiguration="wcfSslBinding"
               behaviorConfiguration="WebHttpBehaviour"
               contract="SmartDrawerWpfApp.Wcf.SslWallNotificationService">
        </endpoint>
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <binding name="wcfSslBinding" maxBufferSize="64000000" maxReceivedMessageSize="64000000" maxBufferPoolSize="64000000">
          <readerQuotas maxDepth="64000000" maxStringContentLength="64000000" maxArrayLength="64000000" maxBytesPerRead="64000000" />
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebHttpBehaviour">
          <webHttp automaticFormatSelectionEnabled="false"  defaultBodyStyle="Wrapped" defaultOutgoingResponseFormat="Json" helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="WcfSslServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceAuthorization  serviceAuthorizationManagerType=" SmartDrawerWpfApp.Wcf.RestAuthorizationManager, SmartDrawerWpfApp" />
          
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <SmartDrawerWpfApp.Properties.Settings>
      <setting name="DbHost" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="DbName" serializeAs="String">
        <value>SmartDrawerDB</value>
      </setting>
      <setting name="DbLogin" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="DbPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="RfidSerial" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIp" serializeAs="String">
        <value>202.71.27.218</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>4000</value>
      </setting>
      <setting name="WallSerial" serializeAs="String">
        <value />
      </setting>
      <setting name="WallLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="WallName" serializeAs="String">
        <value />
      </setting>
      <setting name="NotificationIp" serializeAs="String">
        <value />
      </setting>
      <setting name="NotificationPort" serializeAs="String">
        <value>9004</value>
      </setting>
      <setting name="bReadDft" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DoRecheck" serializeAs="String">
        <value>True</value>
      </setting>
    </SmartDrawerWpfApp.Properties.Settings>
  </userSettings>
</configuration>